.extender{
    width:auto;
    height:20px;
}

.errorExplanation {
    -moz-border-radius: 10px 10px 10px 10px;
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    height: auto;
    margin: 20px auto;
    padding: 10px 132px 20px 0;
    width: 510px;
}

#error-div{
    margin-top: 300px;
}
.exam-result{
    margin: 0 auto;
    width: 500px;
    margin-top: 100px;
    padding-right: 200px;



}

.exam-result h3{
    font-size: 23px;
    color: #999999;
    margin-right: 0px;
    text-align: right;


}
#page-yield{
    min-height: 550px;
}



.label{
    color: #999;
    font: 15px;
    width:115px;
    float: right;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

.record{
    float: right;
    width: 292px;
    color: #B00;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

.record span{
    color: black;
    float: right;
    margin-right: 3px;
    margin-left: 23px;
}

.result-box{
    margin: 0 auto;
    width: 500px;
    margin-bottom: 19px;
}

.info{
   padding-top: 10px;
   height:12px;
}

#submit-button a{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:80px;
    margin-top:34px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    text-decoration: none;
}

#submit-button{
    width:500px;
    margin-top: 80px;
}

#powered_by a{
    padding-right: 4px;
}