#list-container{
    width: 800px;
    height: auto;
    overflow: hidden;
}

.scrolable{
    float:left;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 0 15px 10px;
    padding:7px;
    width:200px;
    overflow:auto;
    max-height:100px;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scroll-inside a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span{
    display: none;
}
.scroll-inside .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}

.scroll-inside .hover:hover span{
    display:block;
    float:right;
    color:#444444;
    font-size:13px;
    padding-top:2px;
}
.hover{
    border-bottom:1px solid #dddddd;
}

.to-options{
    float:left;
    width:385px;
    margin: 8px 0 5px 0;
}

.to-options a{
    color:#9D0E00;
    font-weight:bold;
}

#students-list-container{
float:left;
width:400px;
}

.label-field-pair label{
    width: 165px;
}
#invites-list-container{
    width: 600px;
    float: left;
}
.label-field-pair {
    width: 600px;
}

.submit-button{
    float: left;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    min-width:50px;
        text-decoration: none;
            margin-left:177px;
}
.submit-button:hover { background: #373b3f; }
.text-input-bg {
    width: 238px;
}
