
.submit-button{
    float: left;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    min-width:50px;
    text-decoration: none;
    margin-left: 23px;
}
.submit-button:hover { background: #373b3f; }

#pdf-button{
    margin-top: 15px;
    padding-left: 420px;
}
