

.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}

.box{
    width: 750px;
    margin:0px auto;

}
.label-field-pair label {
    width:280px;
}

.text-input-bg {
    width:100px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:150px;
}
.pagination {
    float: right;
    position: relative;
    margin: 0;
}
