#radio-buttons{
    margin:0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:35px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:570px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 40em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 40em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 100px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-type {
    width : 90px;
    font-weight: bold;
}

#category-list li div.category-code {
    width : 90px;

}
#category-list li div.category-tin {
    width : 90px;
}
#category-list li div.category-region {
    width : 90px;
}
#category-list li div.category-disk {
    width : 90px;

}
#category-list li div.category-add{
    width : 90px;

}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 40px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}


p{
    font-size:13px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0;
    margin-top: 3px;
    padding: 7px 10px;
    border-radius: 10px;
}

.submit_button:hover{
    background:  #373B3F;
}

#search_dropdown {
    margin-right: 51px;
    width: 100px;
}

.text-input-bg select {
    border-radius: 10px 10px 10px 10px;
}

#search_textbox input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    float: right;
    height: 22px;
    margin: 4px 137px 10px 10px;
    padding: 4px 5px 0 0;
    width: 180px;
    border-radius: 10px;
}


#search_textbox  label {
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 0;
    padding-top:10px;
    width:0px;
}

.edit-delete-box div{
    float: right;
    margin: 0 3px;
}
.edit-delete-box{
    width: 160px;
}
table#listing {
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #C3D9FF;
    padding:10px 10px 10px;
}


table#listing .tr-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:13px;
}
table#listing .tr-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:13px;
}
table#listing .tr-read-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:13px;
}
table#listing .tr-read-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:13px;
}

.pagination {
    float: left;
    position: relative;
    margin: 0;
}
