#student_profile_heading1 {
    clear: both;
    float: right;
    height: 50px;
    margin: -21px 0 40px;
    padding: 0 2px 0 0;
    width: 100%;
}
#student_main_info1 span.name {
    color: #000000;
    float: right;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 13px 0 0;
    padding-left: 20px;
    width: 100%;
    font: bold;
}
#student_main_info1 span.course {
    color: #000000;
    float: right;
    font-size: 14px;
    margin: 10px 0 0;
    padding-left: 20px;
    width: 100%;
}
#student_main_info1 span.adm {
    color: #000000;
    float: right;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}

table#listing{
    float: right;
}

td span{
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 10px 5px 5px;
    width: 10%;
    text-align: left;
}
.label-field-pair3 {
    height : 40px;
    width: 230px;
    float:right;
    padding-top: 3px;
}
.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
table#listing {
    padding: 20px 20px 20px;
}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-right: 10px;
}
#payments_details{
    margin-top:20px;
}

table#listing td a {
    color: #27292B;
    float: left;
    margin-left: 0;
    text-decoration: none;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 0 0 132px;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
