
#page-yield {
    width:800px;
    margin: 0 auto;
    overflow: hidden;
}

.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
/*    margin-top:-10px;*/
    float:right;
}

h2.heading{
    text-align: center;
    margin:5px;
}


#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: bold;
}




.odd{
    background: #EEEEEE;
}

.even{

    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    padding: 10px;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    padding: 10px;

}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
    padding: 10px;
}
#pdf-info{
    float:right;
    width:100%;
}
table#pdf-table{
    border: 1px solid #ADACAB;
    border-collapse:collapse;
    width: 100%;
}
/*.header-content{
    color: #97080e;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 800px;
    height: 110px;
    text-align: center;
}*/

.header-content p{
    margin-top: 3px;
    margin-bottom: 2px;
}

.notes{
    float:left;
    width:750px;
    font-size:15px;
}
.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    border: 1px solid #fff;
    width:800px;
    float: right;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: right;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: right;
}
.page_break{
    margin-top: 60px;
}
.serial-td{
    width:30px;
    min-width:30px;
    max-width:30px;
    overflow:hidden;
}
.name-td{
    width:auto;
    overflow: hidden;
    word-break: break-word;
}
.batch-td{
    width:100px;
    min-width:100px;
    max-width:100px;
    overflow:hidden;
}
.adm-td{
    width:80px;
    min-width:80px;
    max-width:80px;
    overflow:hidden;
}
.marks-td{
    width:50px;
    min-width:50px;
    max-width:50px;
    overflow:hidden;
}
.rank-td{
    width:50px;
    min-width:50px;
    max-width:50px;
    overflow:hidden;
}