#page-yield {
    width:800px;
    margin: 0 auto;

    overflow: hidden;
}
.info1{
    margin-top:-10px;
    width:800px;
    float:right;
}
.info-left{
    float:right;
}
.info-right{
    float:left;
}
.tr-blank{
    height:  27px;
}
.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
    margin-top:-10px;
    float:right;
}

h2.heading{
    text-align: center;
    margin:5px;
}


#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: bold;
}




.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}
#pdf-info{
    float:right;
    width:800px;
}
table#pdf-table{
    border: 1px solid #ADACAB;
    border-collapse:collapse
}
/*.header-content{
    color: #97080e;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 800px;
    height: 110px;
    text-align: center;
}*/

.header-content p{
    margin-top: 3px;
    margin-bottom: 2px;
}

.notes{
    float:left;
    width:750px;
    font-size:15px;
}
.note{
    float:right;
    width:40px;
    font-size:15px;
    height:60px;
}
.note_text{
    float:right;
    margin-bottom:7px;
}
#pdf-footer{
    text-align: left;
    width: 1400px;
    padding-left: 100px;
    padding: 50px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;

}
.page1 {
    width:800px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:800px;
    float: right;
}
.grand_total
{
    border-bottom: 1px solid #ADACAB;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: right;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: right;
}
.page_break{
    margin-top: 60px;
}
.serial-td{
    width:60px;
    min-width:60px;
    max-width:60px;
    overflow:hidden;

}
.name-td{
    width:auto;
/*    min-width:180px;
    max-width:180px;*/
    overflow: hidden;
}
.adm-td{
    width:80px;
    min-width:80px;
    max-width:80px;
    overflow:hidden;
}
.batch-td{
    width:130px;
    min-width:130px;
    max-width:130px;
    overflow:hidden;
}
.serial-td1{
    width:100px;
    min-width:100px;
    max-width:100px;
    overflow:hidden;

}
.adm-td1{
    width:160px;
    min-width:160px;
    max-width:160px;
    overflow:hidden;
}
