.submit_button {
    margin-top:10px;
    margin-right:131px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.search_form{
    width:500px;
    margin:auto;
    margin-bottom: 15px;
}
.label-field-pair label {
    color: #444444;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 116px;
}
.errorExplanation span {
    float: right;
    margin-right: 20px;
    margin-top: -12px;
}

.errorExplanation {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    height: auto;
    margin: 20px auto;
    padding: 27px;
    width: 510px;
}

