/* Login Page */

#login_strip {
    background: #000000 url(images/bg_pattern.png) repeat;
}
.forgot_password_link a {
    color: #000000;
}

/* Header Section */

#header_bg, #main-menu li ul.level-1 li ul.level-2, #main-menu li ul.level-1 {
/*    background: #000000 url(images/bg_pattern.png) repeat;*/
}
#main-menu li a {
    background: white;
    color: #000000;
}

#header_bottom {
    background-color:#000000;
    border-top: 1px solid #333333;
}

.top-right-link:hover,.top-right-link-active {
    background-color: #333333;
}
#link-menu:hover{
  background-color: #333333;
}
#username_textbox_bg input:focus,#password_textbox_bg input:focus{
    background: #ffffff !important;
    border: 1px solid #000000 !important;
}
.theme-inactive-color {
    background-color: #333333;
}

/* Dashboard News */

#news_bar .news_box .news-title a {
    color: #000000;
}
#news_bar .news_box .comments-count {
    color: #666;
    background: url(images/chat.png) no-repeat left;
}

.lower-menu-link {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
#lower-show-menu {
    border-right: 1px solid #333333;
    border-left: 1px solid  #333333;
}
#institution-name:hover{
    background-color: #333333;
}
.themed-dark-hover-background:hover{
    background-color: #333333 !important;
}
.child-link-text:hover{
    background-color: #000000;
}
/* Footer */

#footer {
   
}

/* Inner Pages */


#content-header h3{
    color: #000000;
}
#inner-tab-menu ul li{
    color: #ffffff;
    background-color: #000000;
}
.sel-list a {
    color: #000000;
}
.link-heading a, tr.tr-head, tr.tr-head a, td a:hover {
    color: #000000 !important;
}

.sub-heading {
    background: #000000;
}
.ajax-subject a{
    color: #000000;
}
#page-yield a:hover{
    color: #000000 !important;
}
#page-yield input[type=text]:focus, #page-yield input[type=password]:focus, #page-yield textarea:focus {
    background: #ffffff !important;
    border: 1px solid #000000 !important;
}
#page-yield .user_button:hover, #page-yield .user_button a:hover, td a.user_button:hover{
    color: #ffffff !important;
}
.active-link {
    color: #000000 !important;
}
.pagination .current {
    color: #000000;
}
.hover:hover a{
    color: #000000 !important;
}
.themed_text {
    color: #000000 !important;
}
.themed_hover_text:hover {
    color: #000000 !important;
}
.themed_bg {
    background-color: #000000 !important;
}

/* Student Profile */

.profile-topbanner{
    background: url(images/topbanner.png);
    width: 185px;
    height: 135px;
}
#student_main_info h4{
    color: #000000;
}
#nav ul li{
    background: #000000;
    color: #ffffff;
}
#nav li a{
    background: #000000;
    color: #ffffff;
}
#nav ul.scriptaculously{
    background: #000000;
}
#nav ul li ul li {
    background: #000000;
}

/* Employee Profile */

#employee_main_info h4 {
    color: #000000;
}

/* Popup boxes */

#MB_close {
    color: white;
    background: #000000;
}

#MB_frame .head_label span {
    color: #000000;
}
#MB_frame input[type=text]:focus, #MB_frame input[type=password]:focus, #MB_frame textarea:focus {
    background: #ffffff !important;
    border: 1px solid #000000 !important;
}

/* Calendar */

#calendar a:hover, #calendar tr.week td span, #calendar td .link:hover span, .events a:hover{
    color: #000000;
}

/* Timetable */

#timetable .employees_subject:hover{
    background: #000000;
}
#timetable table#table td, #timetable table#table .subject span, #timetable table#table td .top{
    color: #000000 !important;
}

/* Attendance register */

#register-table .td-mark a.present:hover{
    color: #C3D9FF !important;
}
