table {
padding:5px 10px 5px 5px;
text-align:right;
width:700px;
}
table#listing td.col-1 {
padding:5px 10px 5px 5px;
text-align:right;
width:30%;
}
table#listing td.col-2 {
padding:5px 10px 5px 5px;
text-align:right;
width:21%;
}
table#listing td.col-3 {
padding:5px 10px 5px 5px;
text-align:right;
width:24%;
}
table#listing td.col-4 {
padding:5px 10px 5px 5px;
text-align:right;
width:7%;
}
table#listing td.col-5 {
padding:5px 10px 5px 5px;
text-align:right;
width:40%;
}
table#listing td a {
color:#27292B;
font-size:11px;
text-decoration:none;
}
p{
    font-size: 13px;
}
