.necessary-field {
color:#FF0000;
font-size:1.1em;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.submit_button {
    margin-right: -390px;
    margin-top: 72px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.label-checkbox-pair {
    height: 40px;
    padding: 10px 0 0 0;
    width: 600px;
}

#radio-buttons {
    margin: 0;
}

.status {
    color: #444444;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 3px;
    width: 206px;
}
#vehicle_form{
    width:550px;
    margin:auto;
}
