#page-yield1 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0px 0 0;
    padding: 7px;
    float: right;
    cursor: pointer;
    float: left;
    margin-bottom: 14px;
    margin-left: 12px;
    padding-right: 13px;
    padding-left: 10px;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
.label-field-pair label {
    width: 34px;
    text-align: left;
}
.text-input-bg {
    width: 181px;
}
.label-field-pair input {
    width: 130px;
}
.label-field-pair {
    margin-right: 10px;
    width: 225px;
    float: right;
    margin-bottom: 10px;
}
.submit_button {
    margin-top: 8px;
    margin-right: 21px;
    padding: 5px 7px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
.hor_line{
    width:100%;
    height:1px;
    background-color:#333333
}
.ot{
    float:right;
    margin-left: 20px;
    font-weight:bold;
    color: #019a3a;
    font-size:15px
}
.lag{
    float:right;
    margin-left:10px;
    font-weight:bold;
    color: #900;
    font-size:15px;
}
table#listing td.col-1 {
    width: 16%;
    word-break: break-all;
}
table#listing td.col-2 {
    width: 14%;
    word-break: break-all;
}
table#listing td.col-3 {
    width: 50%;
    font-weight: normal;
}
#information{
    margin-top:15px;
}
.close_link{
    float:left;
    margin-left:15px;
    font-size:13px
}
table#listing td a {
    text-decoration: none;
    color: #B00;
}
.over_time {
    margin-left: 20px;
    font-weight: bold;
    color: #019a3a;
    font-size: 15px;
    margin-bottom:10px;
}
.label1{
    font-weight:bold;
    float:right;
    width:200px;
    height:20px;
    margin-bottom: 8px;
}
.label2 {
    float: right;
    width: 340px;
    height: 20px;
    margin-bottom: 8px;
}
.field_pair{
    width: auto;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    font-size:13px;
}
.lagging{
    margin-left:10px;
    font-weight:bold;
    color: #900;
    font-size:15px;
    margin-bottom: 10px;
}
.label_bold{
    font-weight:bold;
}
.hor_line {
    width: 100%;
    height: 1px;
    background-color: #c3d9ff;
    margin-bottom: 10px;
}
.loader1{
    float:left;
    margin-left: 10px;
}
.hor_line1 {
    width: 100%;
    height: 1px;
    background-color: #333333;
    margin-bottom: 10px;
}
table#listing .tr-odd {
    font-weight: 100;
}
table#listing .tr-even {
    font-weight: 100;
}