.sel-list {
    margin-left: 435px;
    margin-top: -17px;
}
.sel-list a{
    color: #BB0000;
    text-decoration: none;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
/*    margin:0px auto;*/
}
#category-list .listheading{
    background : #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
    width:32em;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}

.heading-no {
    font-size:13px;
    font-weight:bold;
    width:200px;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
}
#category-list li div.category-name_disabled {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
    color: #6b6b6b;
}
#category-list li div.category-number {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: -30px;
    width: 201px;
}
#category-list li div.category-number_disabled {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: -30px;
    width: 201px;
    color: #6b6b6b;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    font-size:14px;
    color: #444444;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
.heading-no {
    font-size:13px;
    font-weight:bold;
    width:204px;
}
.heading-name{
    font-size: 13px;
    font-weight: bold;
    margin-left: 90px;
    width: 250px;
}
.submit_button {
    margin-left: 235px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;

}
.submit_button:hover{
    background:  #373B3F;
}


.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 400px;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}
.graduate-mesage{
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.status-label{

color: #444;
display: block;
font-size: 14px;
margin: 0 0 0px 0;
float: left;
padding-top: 10px;
font-weight: 600;
}
.graduate-box{
    height: auto;
margin-bottom: 20px;
overflow: hidden;
}
.graduate-status{
    float: left;
max-width: 400px;
}
.date-of-leaving{
    float: left;
width: 350px;
}
.graduate-mesage p{
    width: 350px;
/*margin: 0 auto;*/
}
.user_button{
    margin-top: 10px;
width: 150px;
height: 3px;
padding: 5px 10px 18px 9px;
color: #fff;
background: #27292B;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
font-weight: bold;
font-size: 14px;
border: none;
font-family: arial;
cursor: pointer;
text-decoration: none;
}
.graduate-header{
    height:52px;
}
.graduate-header h4{
    float:left;
    width:400px;

}
.graduate-button{
    width: 571px;
    float:right;
}