.sel-list {
    margin-right: 435px;
    margin-top: -17px;
}
.sel-list a{
    color: #BB0000;
    text-decoration: none;
}
#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:600px;
    margin:0px auto;
}
#category-list .listheading{
    background : #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
    width:32em;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}

.heading-no {
    font-size:13px;
    font-weight:bold;
    width:204px;
}#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
}
#category-list li div.category-name_disabled {
    font-size: 13px;
    font-weight: bold;
    width: 250px;
    color: #6b6b6b;
}
#category-list li div.category-number {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-right: -30px;
    width: 201px;
}
#category-list li div.category-number_disabled {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-right: -30px;
    width: 201px;
    color: #6b6b6b;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    font-size:14px;
    color: #444444;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.submit_button {
    margin-right:370px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;

}
.submit_button:hover{
    background:  #373B3F;
}


.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.transfer_batch_details{
    width: 100%;
}
