body {
    font-family:arial !important;
}
.column { width: 332px; float: left; padding-bottom: 50px; }
.portlet { margin: 0 20px 20px 0; }
.portlet-header { padding-top:12px; padding-left: 10px; padding-right: 10px; height: 28px; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 10px; float:left; width:93%; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 100px !important; }
.ui-sortable-placeholder * { visibility: hidden; }


.ui-corner-all {
    border-radius:0px !important;
}

.ui-widget {
    font-size:13px !important;
}

.ui-widget-content {
    border: 1px solid #CCCCCC !important;
    box-shadow: 3px 3px #CCCCCC !important;
    background-color: #f5f5f5 !important;
}

.ui-widget-header {
    background-color: #f5f5f5 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #CCCCCC !important;
    color: #666666 !important;
}

.ui-widget-header .ui-icon {
    background-image: url(/images/iconsprite-1.png) !important;
}
.ui-icon,.refresh-icon,.remove-icon,.ui-datepicker-trigger,.name-span {
    cursor:pointer;
}
.ui-icon-plusthick {
    background-position: -65px 3px !important;
}

.ui-icon-plusthick:hover {
    background-position: -65px -13px !important;
}

.ui-icon-minusthick {
    background-position: -48px 3px !important;
}

.ui-icon-minusthick:hover {
    background-position: -48px -13px !important;
}

#content {
    width:1000px !important;
}

.portlet-subcontent {
    margin-top: 10px;
    background-color: #fdfdfd;
    width:100%;
    float:left;
}
.holder {
    background:none;
    height:40px;
}

.subcontent-header {
    font-weight: bold;
    padding:10px;
    float:left;
    width:93%;
}
.header-left{
    float:left;
}
.header-right{
    float:left;
    color: #333333;
    font-weight:normal;
    margin-left:5px;
}

.subcontent-info {
    color: #333333;
    padding:10px;
    float:left;
    width:93%;
}

.subcontent-footer {
    color:#999999;
    font-size:12px !important;
    padding:10px;
    float:left;
    width:93%;
}

.footer-date {
    float:left;
}

.footer-comment {
    float:right;
}

.footer-comment-icon {
    float:left;
    background-image: url(/images/iconsprite-1.png) !important;
    background-position: -32px -31px;
    width:16px;
    height:16px;
}

.portlet-date {
    color:#999999;
}

.palette-info {
    width:100%;
    float:left;
}

.palette-icon {
    height:20px;
    width:20px;
    float:left;
    margin-right:10px;
    margin-top:-2px;
    background: url(/images/iconsprite-1.png) no-repeat center;
}

.view-more-div {
    width:100%;
    float:left;
}

.view-more-div a {
    float:right;
    text-decoration:none;
    font-size:11px;
    font-weight:bold;
    display:block;
    color:#666666;
    margin-top:12px;
}

/*.view-more-div a:hover{
    color:#CB0101 !important;
}*/

#add-palette-main {
    margin-bottom:20px;
    margin-top:20px;
    width:100%;
    float:left;
}

.grey-button-large {
    float:right;
    background: url("/images/grey-gradient.png") repeat-x scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    height: 15px;
    padding: 3px 10px !important;
    text-decoration: none;
    margin-right:21px;
    font-size:13px;
    border: 1px solid #999999;
}

/*#add-palette-button:hover {
    color:#9A0000;
    text-decoration:none;
}*/

#palette-list {
    float:left;
    width:100%;

}

#palettes-main {
    float:left;
}

#list-loader {
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

.palette-box {
    float: left;
    margin: 0 20px 20px 0;
    padding: 8px 0 8px 10px;
    width: 220px;
    background-color: #e7e7e7;
    font-size: 13px;
    color: #333333;
}

.box-border {
    float:left;
    width:98%;
    background-color:#999999;
    margin-top:20px;
    height:1px;
}

.palette-box label {
    line-height: 20px;
}

.palette-box input[type="checkbox"] {
    float: left;
    margin: 3px 9px;
}

.palette-buttons {
    float:left;
    width:100%;
}

#palette-list-submit {
    float: right;
    /*    background: url("/images/red-gradient.png") repeat-x scroll 0 0 #DD0000;*/
    border: medium none;
    font-size:13px;
    color: #FFFFFF;
    display: block;
    height: 23px;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin-right: 25px;
}

.birthday-subcontent {
    float:left;
    width:100%;
}

.birthday-image {
    float:left;
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
    border : 1px solid #AAAAAA;
}

.gallery-image {
    float:left;
    width:100px;
    height:70px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    border : 1px solid #AAAAAA;
}

.gallery-icon {
    width:100px;
    height:70px;
}

.gallery-text {
    float:right;
    width:60%;
}

.birthday-text {
    float:right;
    width:75%;
}

.image-icon {
    width:50px;
    height:50px;

}

#palette-list-cancel {

}

.date-previous {
    background-image: url("/images/iconsprite-1.png");
    float: left;
    background-position: 2px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left:40px;
}

.date-next {
    background-image: url("/images/iconsprite-1.png");
    float: left;
    background-position: -14px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right:3px;
}

.portlet-date a div:hover {
    background-color: #e0e0e0;
}

.portlet-date label {
    float:left;
    width:160px;
    text-align:center;
}

.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}

.remove-icon:hover {
    background-position: -31px -15px;
}

.refresh-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -80px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right: 5px;
}

.refresh-icon:hover {
    background-position: -80px -15px;
}

.ui-datepicker-trigger {
    background-image: url("/images/iconsprite-1.png");
    background-position: -2px -2px;
    height: 16px;
    width: 16px;
    float:left;
}

.palette-loader {
    float:left;
    margin-left:5px;
}

.palette-more-loader {
    float:right;
    margin-right:10px;
    margin-top: 9px;
}

.add-palette-loader {
    float:right;
    margin-right:10px;
    margin-top:4px;
}

.ui-datepicker-trigger:hover {
    background-position: -2px -18px;
}

.ui-datepicker {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border: 1px solid #AAAAAA !important;
    padding: 0.2em 0.2em 0 !important ;
    width: 17em !important;
}

.ui-datepicker-header {
    position: relative !important;
    background:#CCCCCC !important;
    border: 1px solid #AAAAAA !important;
}

.ui-datepicker-header select {
    margin: 1px 0 !important;
    position: inherit !important;
    color : #333333 !important;
    background-color: #F5F5F5 !important;
    border: 1px solid #C6C6C6 !important;
    padding: 3px 6px !important;
}
.ui-icon-circle-triangle-w {
    background-position: 1px -32px !important;
}
.ui-icon-circle-triangle-e {
    background-position: -13px -32px !important;
}

.ui-datepicker-prev {
    left:2px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-prev-hover {
    left:1px !important;
    top : 4px !important;
}

.ui-datepicker-next {
    left:194px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-next-hover {
    left:193px !important;
    top : 4px !important;
}
.ui-autocomplete {
    background-color: #FEFDF9 !important;
    margin: 2px 0 !important;
    padding: 0 !important;
    border-right: 1px solid #E7E7E7 !important;
    border-style: none solid solid !important;
    border-width: medium 1px 1px !important;
    list-style: none outside none !important;
    box-shadow:none !important;
}
.ui-menu-item {
    margin: 1px 0 !important;
}

.ui-menu .ui-menu-item a {
    line-height: 1.3 !important;
    padding: 0.2em 0.8em !important;
}

.ui-menu-item a.ui-state-focus {
    background-color:#F8F1D1;
    color:#BB0000;
    margin: 1px 0 !important;
    border-top:0 !important;
    border-bottom:0 !important;
    border-right:0 !important;
    border-left:0;
}
li.ui-menu-item a.action {
    border-left: 2px solid #BB0000 !important;
}
p.flash-msg {
    width: 968px !important;
}
