/* 
    Document   : index
    Created on : 13 Oct, 2011, 5:52:17 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

