.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 93px;
    margin-right: 207px;
    margin-top: -30px;
    overflow: auto;
    width: 227px;
    padding-right: 10px
}

.sel-list {
    margin-bottom: 4px;
    width: 130px;
    color: #444444;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #DDDDDD;
}
.sel-list a {
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.sel-list a:hover {
    color: #9D0E00;
    text-decoration: none;
}

.each_batch{
     border-bottom: 1px solid #DDDDDD;
    color: #444444;
    font-size: 14px;
}
.each_batch span{
    width: auto;
}
.batches_box{
    width: auto;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:212px;
    margin-top:34px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}

.fieldWithErrors,#online_exam_group_start_date,#online_exam_group_end_date{
    width:205px;
    float: right;
}
.calendar_date_select_popup_icon{
    float: right;
    margin-top: 12px;
    margin-right: 26px;
}
.text-input-bg {
     background: none repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    overflow: hidden;
    width: 270px;
}
.calendar_date_select {
    border: 1px solid #777777;
    color: white;
    display: block;
    width: 205px;
    z-index: 10001;
}

#box{
    margin:0 auto;
    width:600px;
}

#question_text_field_bg {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 228px;
    margin: 24px 0 50px 0;
    padding: 10px;
    width: 750px;
}
.question_label_field {
    width:285px;
}

.question_label_field p {
/*    float: right;*/
    color: #444444;
    font-size: 14px;
    /*font-weight: 600;*/
    margin-top: 13px;
    width: 125px;

}
.question_label_field label {
    font-weight:600;
    display:block;
    color:#444;
    margin-bottom:10px;
}

#question_text_field_bg input {
    width:615px;
    height:33px;
    background:transparent;
    border:none;
    padding-right:10px;
    padding-top:5px;
    font-weight:bold;
    font-size:25px;
}

#question_text_field_bg textarea {
    background:transparent;
    border:2px solid #ddd;
}




.mceIframeContainer iframe#online_exam_question_question_ifr {
    height: 170px !important;
}

#online_exam_question_question_tbl{
    height: 228px !important;
    width: 750px !important;
}

.label-field-pair1 {
    height: 40px;
    padding-top: 3px;
    width: 600px;
    margin-right: 466px;
}

.label-field-pair1 input {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 2px 10px 0 0;
    padding: 5px;
    width: 205px;
}

.label-field-pair1 label {
    color: #444444 ;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 80px;
}


.text-input-bg {
    background: none repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    overflow: hidden;
    width: 270px;
}

.option_label_field p {
/*    float: right;*/
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    margin-top: 13px;
    width: 125px;
}


#option_text_field_bg {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 205px;
    margin: 4px 0 50px;
    padding: 8px 7px 8px 9px;
    width: 586px;
}
.option_label_field {
    width:285px;
}
.option_label_field label {
    font-weight:600;
    display:block;
    color:#444;
    margin-bottom:10px;
}

#option_text_field_bg input {
    width:615px;
    height:33px;
    background:transparent;
    border:none;
    padding-right:10px;
    padding-top:5px;
    font-weight:bold;
    font-size:25px;
}

#option_text_field_bg textarea {
    background:transparent;
    border:2px solid #ddd;
}


tr.mceLast td.mceIframeContainer iframe{
    height: 150px !important;
}

table.mceLayout{
    height: 200px !important;
}

.label-field-pair2 {
    height: 40px;
    padding-top: 3px;
    width: 600px;
    margin-right: 466px;
}

.label-field-pair2 input {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 10px 25px 0 0;
    padding: 5px;
    width: 27px;
}

.label-field-pair2 label {
    color: #444444 ;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 80px;
}
/** redactor styles **/
#question_text_field_bg .redactor_box ul{
    width: 748px !important;
}
#option_text_field_bg .redactor_box ul{
    width: 584px !important;
}
#option_text_field_bg .redactor_box{
    width: 584px !important;
}
#question_text_field_bg .redactor_box{
    width: 748px !important;
}
#option_text_field_bg .redactor_editor{
    width: 566px  !important;
    height: 123px !important;
}
#question_text_field_bg .redactor_editor{
    width: 730px !important;
    height: 180px !important;
}
