.label-field-pair{
    width: 460px;
}
#left-side-inputs{
    width: 460px;
    float: right;
}
#batchs{
    float: left;
    height: 243px;
    width: 460px;
}
#batchs .batch_select_box{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE;
    border:1px solid #C6C6C6;
    height: 241px;
    width: 453px;
    padding-right: 5px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
    width:100%;
}
.sel-list {
    margin-bottom: 2px;
    width: 257px;
}
.fee_category_scroll {
    height: 200px;
    margin: 0;
    overflow: auto;
    width: 100%;
}
.submit_button {
    margin-top:15px;
    margin-right:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#loader {
    padding-top: 5px;

}
#fines{

    margin-bottom: 10px;
    margin-top: 20px;
}
.fee_category1_scroll {
    margin-left: 34px;
    height:76px;
    margin-right:210px;
    margin-top:-53px;
    overflow:auto;
    width:auto;

    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    border-radius: 10px 10px 10px 10px;
    max-height: 100px;
    overflow: auto;
    padding: 7px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
/*    width:210px;*/
    border-bottom: 1px solid #DDDDDD;
}
.fine-days{
    font-size: 13px;
    width:80px;
    float:right

}
.fine-amt{
    font-size: 13px;
    width:80px;
    float:right;
}
.fine-head{
    height:30px;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
}
