

.heading{
    font-weight:bold;color:#900;
    padding-bottom:20px;
}


.container{

}

.container-head{

}


.containereven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 0;
    width:700px;
}

.containerodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 0;
    width:700px;
}




table#listing td.col-2 {
padding:5px 5px 5px 10px;
text-align:left;
width:30%;
}
