

#form-content{
    height:10px;
    width:500px;
    margin:0px auto;
    padding: 25px;
}

.label-container1
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 150px;
}

.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#radio-buttons{
    margin:0;
}

#submit-button input {
    border-radius: 10px 10px 10px 10px;
    background:#27292B;
    border:none;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:10px 160px;
    padding:7px 10px;
    text-align:center;
    width:auto;
}

#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    width:35em;
}





#radio-buttons{
    margin:0;
}
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:570px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 250px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-code {
    width : 125px;

}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 75px;

}
#category-list li div a {
    color : #444;
    font-size:13px;
    text-decoration: none;
}



p{
    font-size:13px;
}
