.options{
    float:left;
    max-width:50px;
}
.options a{
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    font-size: 12px;
    color: #b7b7a6;
}
.link-box {
    float: left;
    height: 80px;
    margin: 30px;
    width: 243px;
}


.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}
.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background:  #373B3F;
}
text-input-bg input{
    
}
#MB_frame .label-field-pair select {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    border-radius: 10px 10px 10px 10px;
    margin: 5px 10px 0 11px;
    padding: 5px;
    width: 215px;
}
.col-2{
    padding-left:10px;
    padding-right:10px;
}
.col-sl{
    max-width:30px;
    padding-left: 10px;
    padding-right: 10px;
}
