.total {
    float:  left !important;
    width:  947px !important;
    height:  auto !important;
}

#fees-table{
    padding-top: 10px;
    width:963px;
    height:auto;
}
.fees-th {
    background: none repeat scroll 0 0 #BECFFB;
    border-bottom: 1px solid #BECFFB;
    font-weight: normal;
    height: auto;
    list-style-type: none;
    padding: 0.5em 0 0 1em;
    float: left;
    width: 947px;
}

.fees-table-payee {
    float: left;
    padding-left: 35px;
    width: 210px;
}
.fees-table-category {
    float: left;
    padding-left: 20px;
    width: 270px;
}
.fees-table-amount {
    float: left;
    margin-left: 20px;
    padding-left: 30px;
    text-align: right;
    width: 45px;
}
.fees-table-date{
    padding-left:30px;
    float:left;
    width:130px;
}
.fees-table-reciept {
    float: left;
    margin-left: 40px;
    text-align: center;
    width: 53px;
}

.fees-table-total-amount {
    float: right;
    margin-right: 62px;
    margin-top: -19px;
}

.fees-table-total-name {
    float: left;
    margin-left: 623px;
    margin-right: 5px;
    max-width: 194px !important;
}

.listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding: 10px 0 0 16px;
    font-size: 14px;
    width:947px;
    float: left;

}

.listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding: 10px 0 0 16px;
    font-size: 14px;
    width:947px;
    float: left;

}

.fees-table-payee a{
    text-decoration: none;
    color: #444444;
}

.fees-table-payee a:hover{
    text-decoration: none;
    color: #BB0000;
}
#fees_report_title{
}
