<div class="label-field-pair2">
  <label for="batch_id">Select Batch</label>
  <div  class="text-input-bg2" id="exam-group-select">
    <%= select :assessment, :batch_id, @batches.map{|b| [b.full_name,b.id]},:prompt=> "Select Batch" %>
  </div>
</div>
