#list {
    margin:20px auto;
    width:440px;
}
#list li {
    padding:6px 50px 0 0;
    list-style-type:none;
}
#list li label input {
    margin-left:10px;
}
.name_listodd{
    background:#E4EBFE;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
label {display:inline;}
.submit_button {
    margin-top:30px;
    float:right;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.submit_button:hover{
   background:  #373B3F;
}
#skip{
    margin-right: 20px;
    float:right;
}
