.necessary-field {
color:#FF0000;
font-size:1.1em;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 213px;
    margin-top: 30px;
    padding: 7px 10px;
}
.submit_button:hover{
    background:  #373B3F;
}
.other_info {
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
-webkit-border-radius:10px;
border:1px solid #C6C6C6;
font-family:Arial;
padding:5px;
float:left;
margin-left: 10px;
width:240px;
}
.label-field-pair-text-area {
  padding-top:3px;
  width:600px;
  overflow: hidden;
}
.label-field-pair-text-area label {
color:#444444;
display:block;
float:left;
font-size:14px;
font-weight:600;
margin:0 0 10px;
padding-top:10px;
width:200px;
}
#vehicle_form{
    margin: auto;
    width:600px;
}
