

.submit_button {
    margin-top:20px;
    margin-left:0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.label-container1
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 110px;
}

.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.indent_date {
    float:left;
    height:80px;
    width:450px;
}
.indent_date label {
    color:#444444;
    display:block;
    float:left;
    margin:0 0 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
.text-input-bg-indent input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}

.label-field-pair {
    height : auto;
    width : 650px;
    padding: 3px 0 17px 0;
    overflow: hidden;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:150px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.text-input-bg-indent input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}

.text-input-bg-indent textarea  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:70px;
    margin:5px 0 0 10px;
    padding:5px;
    width:405px;
    text-align: left;
}




.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-checkbox-pair {
    float : left;
    padding : 30px 0 0 10px;
    width : 250px;
}

/* Validation error messages */

.fieldWithErrors input{
    border : 1px solid #b00;

}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 510px;
    margin : 20px auto;
    padding : 10px 0 20px 20px;
}
.errorExplanation h2 {
    margin : 5px 0 0 20px;
    font-size : 1em;
    font-weight : normal;
    padding : 0;
}
.errorExplanation p {
    margin : 5px 0 0 20px;
    font-weight:bold;
}
.errorExplanation ul li{
    font-weight:600;
    font-size:13px;
}


#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}
.indent-items {
    height : 40px;
    width : 650px;
    color : bb0000;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.label-field-par {
    height : auto;
    width : 100px;
    float:left;
    padding: 3px 0 17px 0;
    overflow: hidden;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
.label-field-par label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-par input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 70px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.label-field-par input-container {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 0px 0 0 10px;
    width : 70px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;

}


.label-container2
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 110px;
}
.label-field-par1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width:100px;
    padding-top: 10px;
    font-weight: 600;

}

.label-container3
{
    color: #444444;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}

.label-field-par1 {
    height : auto;
    width : 100px;
    float : left;
    padding: 3px 0 17px 0;
    overflow: hidden;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}

.label-field-par1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-par1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 70px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.label-underline {
    background:none repeat scroll 0 0 #EEEEEE;
    border:medium none;
    height:1px;
}
#remove {
    font-size: 13px;
    color:red;
}
#add_item a {
    font-size: 14px;
    color:green;
    text-decoration: none;
}



.text-input-bg1 select {
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 27px;
    padding: 3px 6px;
    width: 130px;
}
.text-input input {
    background-color: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    padding: 5px;
    width: 120px;
}
.label-cont
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    padding-top: 10px;
    width: 110px;
}

table#listing{
    background: 0;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:0px 0px 0px;
}
table#listing tr.tr-head{
    background: #fff;
    color: #444444;
    font-weight: 600;
    text-align:left;
    font-size: 14px;
}
table#listing .tr-head td{
    padding:5px;
    padding-left:10px;
}
.lable-text {
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 143px;
}
.loader_div{
    float: left;
    height: 25px;
}
.indent-items a{
    float: left;
}   
#page-yield .fields #add_item a:hover{
    color: green !important;
}
