table {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:800px;
}

table#listing .tr-head td {
    min-width: -moz-max-content;
    padding: 5px 5px 5px 10px;
}
table#listing td.col-1 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:30%;
}
table#listing td.col-2 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:21%;
}
table#listing td.col-3 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:24%;
}
table#listing td.col-4 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:7%;
}
table#listing td.col-5 {
    padding:5px 5px 5px 10px;
    text-align:left;
    min-width: 112px;
}
table#listing td a {
    color:#27292B;
    font-size:11px;
    text-decoration:none;
}
p{
    font-size: 13px;
}
