table#listing .tr-odd {
    font-weight: normal;
}
table#listing .tr-even {
    font-weight: normal;
}
.col{
    font-size: 13px;
    width: 170px;
    float: left;
}
.col2{
    font-size: 13px;
    width: 210px;
    float: left;
    padding-right: 30px;
}

.col-label {
    float: left;
    margin-top: 4px;
    width: 245px;
}
.col2 .col-label{
    width: 40px;
    float: left;
}

.text-input-bg {
    background: none repeat scroll 0 0 transparent;
    float: none;
    height: 28px;
    width: 455px;
}
.text-input-bg2 {
    background: transparent;
    height: 28px;
    width: 160px;
    float: left;
}
.text-input-bg2 input[type="text"]{
    width: 130px;
    float: left;
}
.text-input-bg select {
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: -3px 0 0 5px;
    width: 100px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.text-input-bg2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : -3px 0 0 -5px;
    width : 130px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.filter{
    width: 800px;
    padding-bottom: 20px;
}
.submit_button {
    margin-top: -2px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}



.label-field-pair input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: -5px 0 0 10px;
    padding: 5px;
    width: 155px;
}

.submit_button:hover{
    background:  #373B3F;
}
.row{
    width: 900px;
    padding-top: 10px;
    font-size: 13px;
}
.label{
    width: 105px;
    float: left;
}
.calendar_date_select_popup_icon{
    float: right;
}
.sbutton{
    margin-top: -2px;
}


.submit_1 {
    margin-left: 262px;
    margin-top: -2px;
}
