.label-field-pair input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 20px 0 0;
    padding: 5px;
    width: 205px;
}

.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
.submit_button {
    margin-top:15px;
    margin-right:220px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.label-field-pair input, .label-field-pair textarea {
    width: 200px;
}
.label-field-pair textarea {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius: 10px;
    background-attachment: scroll;
    background-color: #EEEEEE;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border:1px solid #C6C6C6;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 205px;
}
.label-field-pair textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
