root {
    display: block;
}
.gallery_background{
    background : #fff url(/images/gallery/Category_placeholder.png) no-repeat;
    height:145px;
    cursor: pointer;
    width: 195px;
}
.no_image{
    padding-right: 55px;
    padding-top: 58px;
}
.t_d{
    padding-bottom: 50px;
    width:25%;
    float: right;
}
.category_name b a {
     font-size: 12px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    padding-left: 0;
    padding-top: 0;
    text-decoration: none;
}
.category_name {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    padding-left: 0;
    padding-top: 0px;
}
.gallery_background img{
    border: 0.2px solid #C6C6C6;
    padding: 2px;
}
