<div class="label-field-pair1">
  <div class="text-input-bg1"><%= select :timetable, :employee_id,
      @employees.map {|e| [e.full_name, e.id]},
      {:prompt => "#{t('select_employee')}"}%>
  </div>
</div>