.label-field-pair-select-class {
height:40px;
margin:0 auto;
padding-top:3px;
width:500px;
}
.label-field-pair-select-class label {
color:#444444;
display:block;
float:left;
font-size:14px;
font-weight:600;
margin:0 0 10px;
padding-top:10px;
width:120px;
}
.text-input-bg {
background:none repeat scroll 0 0 transparent;
float:left;
height:28px;
width:250px;
}
.text-input-bg select {
-moz-border-radius:10px 10px 10px 10px;
background-color:#EEEEEE;
border:1px solid #C6C6C6;
height:27px;
margin:5px 0 0 10px;
padding:3px 6px;
width:215px;
}
input[type="text"], input[type="password"], textarea, select {
outline:medium none;
}
table#listing {
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #C3D9FF;
padding:20px 20px 40px;
}
table#listing td.col-1 {
padding:5px 5px 5px 10px;
text-align:left;
width:25%;
}
table#listing td.col-2 {
padding:5px 5px 5px 10px;
text-align:left;
width:15%;
}
table#listing td.col-3 {
padding:5px 5px 5px 10px;
text-align:left;
width:17%;
}
table#listing td.col-4 {
padding:5px 5px 5px 10px;
text-align:left;
width:16%;
}
table#listing td.col-5 {
padding:5px 5px 5px 10px;
text-align:left;
width:15%;
}
table#listing td.col-6 {
padding:5px 5px 5px 10px;
text-align:left;
width:30%;
}
table#listing td a {
color:#27292B;
text-decoration:none;
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #27292B;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-family:arial;
font-size:14px;
font-weight:bold;
margin-left:0px;
margin-top:15px;
padding:7px 10px;
width:87px;
display: block;
}
table#listing td a:hover {
color:#27292B;
text-decoration:none;
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #373B3F;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-family:arial;
font-size:14px;
font-weight:bold;
margin-left:0px;
margin-top:15px;
padding:7px 10px;
width:87px;
display: block;
}
.label-field-pair label {
color:#444444;
display:block;
float:left;
font-size:14px;
font-weight:600;
margin:0 0 10px;
padding-top:10px;
width:251px;
}
.edit, .delete {
float:left;
font-weight:bold;
width: 30px;
}
.label-field-pair {
margin:5px 0;
width:450px;
}
.label-field-pair label {
color:#444444;
display:block;
float:left;
font-size:14px;
font-weight:600;
margin:0 0 10px;
padding-top:10px;
width:200px;
}
.text-input-bg {
background:none repeat scroll 0 0 transparent;
float:left;
height:28px;
width:250px;
}
table#listing td.col6 p a {
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #27292B;
border:medium none;
color:#FFFFFF;
cursor:pointer;
font-family:arial;
font-size:14px;
font-weight:bold;
margin-left:0px;
margin-top:15px;
padding:7px 10px;
}
.box{
   margin: 0 auto;
    width: 500px;

}

#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:400px;
    background: #fff;
    padding:6px 0;
    text-align:center;
    float:left;
    font-size:16px;
    color:#121212;
    font-weight:bold;
    margin:0px 6px;
}
.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:410px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 100px;
    float :left;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.fine_info{
    margin:0 auto;
    height:28px;
    width:670px;

}
.label-field-pair1 .submit_button2 {
    padding: 6px 8px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top:3px;

}
.label-field-pair1 .submit_button2:hover{
    background:  #373B3F;
}

#student{
    padding-top:50px;
}
