.necessary-field {
color:#FF0000;
font-size:1.1em;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.submit_button {
    margin-top:20px;
    margin-right:244px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.other_info {
-moz-border-radius:10px 10px 10px 10px;
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #C6C6C6;
font-family:Arial;
padding:5px;
float:right;
}
.label-field-pair-text-area {
  padding-top:3px;
  width:600px;
  overflow: hidden;
}
.label-field-pair-text-area label {
color:#444444;
display:block;
float:right;
font-size:14px;
font-weight:600;
margin:0 0 10px;
padding-top:10px;
width:200px;
}
#vehicle_form{
    width:530px;
    margin:auto;
}
.label-field-pair label {
    width: 233px;
}
