
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}
#fee-collections-list ul {
    padding-top : 50px;
    padding-right: 0px;
    width : 500px;
}
#fee-collections-list ul li {
    background : #fff url(/images/_global/list-bg-repeat.jpg) repeat;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 40px 0 0;
}
#fee-collections-list ul li .fee-name,
#fee-collections-list ul li .fee-edit-link,
#fee-collections-list ul li .fee-delete-link {
    float : right;
    margin : 0 0 0 10px;

}
#fee-collections-list ul li .fee-name {
    width : 350px;
}

#fee-collections-list ul li .fee-edit-link a,
#fee-collections-list ul li .fee-delete-link a {
    color : #000;
    text-decoration : none;
}

#MB_frame .label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 5px 0 10px;
    padding:5px;
    width:150px;
}
.submit_button {
    margin-top:15px;
    margin-right:180px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:750px;
    margin:0px auto;
}

.each_batch{
    font-size: 12px;
    overflow:auto;
    width:260px;
}

.fee_category_scroll {
    height:76px;
    margin-right:200px;
    margin-top:-53px;
    overflow:auto;
    width:280px;
}

.opt{
    margin-right:200px;
    width:199px;
}

.each_batch{
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: 198px;
}
 

.batches {
    overflow: auto;
    height: 100px;
    margin-right:10px;
    width:210px;
    float:right;
    border:1px solid #c6c6c6;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:4px;
    background: #eee;
}
.label-field-pair {
    height:auto;
    padding-top:3px;
    width:600px;
    clear:both;
}
.sel-list {
    margin-bottom:2px;
    width:184px;
    border-bottom:1px solid #C6C6C6;
}
.submit_button  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:14px;
    font-weight:bold;
    padding:7px;
    margin-right: 172px;
    margin-top: 33px;
}
.submit_button:hover{
    background:  #373B3F;
}

.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
.errorExplanation {
    width:452px;
}
.label-field-pair input[type='checkbox'] {
    width:12px;
}
