.text-input-bg textarea{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    float: left;
    max-height: 100px;
    margin: 0 auto;
    margin-right: 5px;
    padding: 5px;
    width: 600px;
}
.text-input-bg textarea:focus{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9E0F15;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: -252px;
    margin-top: 122px;
    padding: 7px 10px;
}
.submit_button:hover{
    background: #373b3f;
}

.submit-button {
    margin-top: 95px;
}

.new_post{
    width: auto;
    float: right;
    margin-right: 5px;
}
.new_post a{
    text-decoration: none;
}

#new_blog_post{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list_blogs{
    width: 100%;
    float: left;
    margin-top: 20px;
    border-bottom: 1px solid #c6c6c6;
}
#blog_post_title
{
    border-radius: 10px 10px 10px 10px;
    width: 600px;
    margin-left: 1px;
}
.label-field-pair {
    height: 40px;
    padding-top: 3px;
    width: 100%;
}

.errorExplanation {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 20px auto;
    padding: 10px 0 20px 20px;
    width: 510px;
}
.errorExplanation h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0 0 20px;
    padding: 0;
}
.errorExplanation p {
    font-weight: bold;
    margin: 5px 0 0 20px;
}
.errorExplanation ul li {
    font-size: 13px;
    font-weight: 600;
}

.blog_post{
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    color: #111111;
    width: 100%;
    height: 50px;
    float: left;
    border-top: 1px solid #c6c6c6;
}

.post_title{
    min-width: 40%;
    max-width: 40%;
    float: left;
    margin-top: 15px;
}
.total_comments{
    min-width: 10%;
    max-width: 10%;
    float: left;
    margin-top: 15px;
}
.total_likes{
    min-width: 10%;
    max-width: 10%;
    float: left;
    margin-top: 15px;
}
.timestamp{
    color: #656565;
    text-align: center;
    min-width: 20%;
    max-width: 20%;
    float: left;
    margin-top: 15px;
}
.options{
    min-width: 20%;
    max-width: 20%;
    float: left;
    margin-top: 15px;
}
.blog_post .pagination {
    float: none;
    margin-left: 360px;
    margin-top: 16px;
    position: relative;
    width: auto;
}

#content-header img {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 2px;
}
