.blog_notification{
    font-family: Arial;
    font-size: 14px;
    width: 100%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #c6c6c6;
}

.blog_notification .in_line .who a{
    text-decoration: none;
    width: auto;
    float: left;
    font-weight: bold;
    color: black;
}

.blog_notification .in_line .who span{
    text-decoration: none;
    width: auto;
    float: left;
    font-weight: bold;
    color: black;
}

.blog_notification .in_line .who a:hover{
    text-decoration: underline;
}

.blog_notification .in_line .what{
    width: auto;
    float: left;
    margin-left: 5px;
}

.blog_notification .in_line .notification_content{
    width: auto;
    float:left;
}
.blog_notification .in_line .notification_content a{
    text-decoration: none;
    color: #bb0000;
    font-weight: bold;
}

.blog_notification .in_line .notification_content a:hover{
    text-decoration: underline;
}

.blog_notification .in_line .timestamp{
    width: auto;
    float: left;
    margin-left: 5px;
}

.in_line{
    width: 100%;
    float: left;
    margin-top: 20px;
}

.blog_notification .pagination {
    float: none;
    margin-left: 360px;
    margin-top: 16px;
    position: relative;
    width: auto;
}
.blog_paginator {
    border-bottom: 0 !important;
}

#content-header img {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 2px;
}
