
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}


.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}



root {
    display: block;
}
#activities {
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-top: 7px;
    width: 260px;
}
.search-box {
     padding-left: 10px;
    float: left;
    width: 410px;
}
.select-date {
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
.text-input-bg {
    margin-right: 5px;
}
.text-input-bg input {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 10px 0 0;
    padding: 5px;
    width: 205px;
}
.go {
    float: left;
    margin-top: 4px;
}
.submit_button {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
.box{
    padding-top: 50px;
}
table#listing td.col-1 {
    width: 14%;
}
table#listing td.col-2 {
    width: 9%;
}
table#listing td.col-4 {
    width: 13%;
}
.flash
{
    background-color : #fff1ab;
    padding : 5px;
    text-align : center;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
}
#img_load
{
    height: 20px;
}
#img_load img
{
    margin-top: 7px;
}
