#news_content {
    background-color: #EEEEEE;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius:10px;
    line-height: 1.5em;
    margin-top: 25px;
    overflow: auto;
    padding: 20px 50px;
    text-align: justify;
    width: 800px;
}
.title{
    font-size: 20px;
}
.loader-img{
    margin-right:50px;
}
