#MB_frame .submit-button, .submit-button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 210px;
    padding: 7px 10px;
}

.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
