#student_profile_heading1 {
    clear: both;
    float: left;
    height: 50px;
    margin: -21px 0 40px;
    padding: 0 0 0 2px;
    width: 100%;
}
#student_main_info1 span.name {
    color: #000000;
    float: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 13px 0 0;
    padding-right: 20px;
    width: 100%;
    font: bold;
}
#student_main_info1 span.course {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 10px 0 0;
    padding-right: 20px;
    width: 100%;
}
#student_main_info1 span.adm {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}
table#listing {
    padding: 20px 20px 20px;
    float: left;
}
table#listing td.col-8 {
    width: 40%;
    text-align: right;
    padding: 5px;
    padding-left: 10px;
}


.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    padding: 7px 10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

}
.submit_button:hover{
    background:  #373B3F;
}

table#listing td a{
    float:right;
}

p.flash-msg {
    background-color: #FFF1AB;
    border: 1px solid #EFDC86;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
}
