#hostel_button {background:#fff url(/images/dashboard_buttons/button_hostel.png) 0 0 no-repeat;}
#hostel_button:hover {background:#fff url(/images/dashboard_buttons/button_hostel.png) -176px 0 no-repeat;}
