.submit_button {
    margin:15px 0 0 0;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.flash-msg{
    overflow: hidden;
}
.label-field-pair label{
    width: 173px;
}
h4{
    width: 300px;
    float: right;
    margin-top: 10px;
}
.extender{
    margin-bottom: 40px;
}
.label-field-pair input{
    margin-right: 0;
}
.label-field-pair {
    height: 34px;
}
