#page-yield {
    width:750px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
    min-height: 1000px;
    height: auto;
}



.hor_line{
    width:750px;
    background: #333333;
    height: 1px;
}

h3.heading{
    text-align: center;
    margin:5px;
}
#main_info h3{
    text-align: center;
    margin:5px;
}

#main_info h4{
/*    color: #555555;*/
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
    border-bottom: 0;
}

tr.odd{
    border: 1px solid #ADACAB;
    border-bottom: 0;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0;

}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse;
    font-size: 14px;
}
.sl_no{
    width:40px;
    min-width:30px;
    max-width:40px;
}
.rcpt_no{
    width:100px;
    min-width:100px;
    max-width:100px;
}
.name{
    width:190px;
    min-width:190px;
    max-width:190px;
    overflow: hidden;
}
.desc{
    width:100px;
    min-width:100px;
    max-width:100px;
    overflow: hidden;
}

.report{
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;

}

#page-yield h2{
    text-align: center;
}
/* Page Breaks */

.page1 {
    width:750px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border-top: 1px solid #fff;
    width: 100%;
    float: left;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: left;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 750px;
    float: left;
    border-top: 1px solid #ADACAB;
}
.page_break{
    margin-top: 60px;
}
