#timetable {
    /*width : 900px;*/
    margin : 30px 0 30px 0;
}
.timetable_tr {
    clear:both;
    height:52px;
}
.timetable_td {
    float:right;
    width:80px;height:50px;
    border:1px dotted #b00;
    background-color:#f5e9c8;
    font-size:small;
}
.timetable_td_top {
    float:right;
    width:80px; height:25px;
    border:1px dotted #800;
    padding-top:5px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
    margin : 20px 0 0 0;
}
.timetable_td_left {
    float:right;
    font-size : 0.7em;
    width:50px;height:35px;
    border:1px dotted #800;
    padding-top:15px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
}
.timetable_td_tl {
    float:right;
    width:52px;height:35px;
    padding-top:15px;
}
.tt-subject {

    text-align:center;
    width:auto;
}
.selected_div {
/*    position : absolute;*/
    /*top : -5px;
    left : -2px;
    border : 2px solid #A6C7FF; */
    height:50px;
    background-color : #f9ffb8;
    text-transform: uppercase;
}
.subjects {
    background-color:#f2d5b2;
    cursor : move;
    margin : 0 10px 10px 0;
    float : right;
    border : 1px solid #b00;
    width:78px; height:38px;
    font-size : small;
    padding-top : 10px;
    text-align : center;
}
#employee-list {
    float: right;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
#errors {
    background-color : #f2d5b2;
    font-size : 0.9em;
    height : auto;
    width : 420px;
    margin : 50px 0 20px 0;
    float: right;
}
.error-explanation {
    padding : 10px;
}
#errors a {
    color : #b00;
    display : inline;
}
#loader {
    margin : 0px 20px 0 0;
}
.submit-button{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:5px;
    padding:7px 10px;
}
.generate{
    height: 30px;
}
#box{
    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:10px;
    margin: 0px auto;
    width:980px;
    
}
td{
    color: #9f191f;
    font-weight: bold;
    font-size: 13px;
}
td.td-blank, td.loader, tr.tr-blank{
    width: 10px;
    background: #c3d9ff;
}

tr.blank td{
    height:  10px;
    background: #c3d9ff;
}
td .name{
    background: #fff;
    height: 35px;
    text-align: center;
    padding:15px 10px 0 10px;
}
td .top{
    background: #fff;
    padding:5px 10px 5px 10px;
    text-align: center;
    color: #9f191f;
    font-weight: bold;
    font-size: 10px;

}
td .tt-subject .subject{
    height: 23px;
    padding-top: 10px;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
.sub-line{
    height: 22px;
    overflow: hidden;
    display: block;
}
td .tt-subject .employee{
    height: 15px;
    font-size:11px;
    text-align:center;
    background: #eaf2ff;
    color:#898989;
    border-top:2px solid #b2cfff;
    border-bottom:2px solid #b2cfff;
}
td.td{
    width:auto;
        min-width:115px;
}
.employees_subject{
    background: #a6c7ff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:100px;
    float:right;
    padding:8px;
    color:#fff;
    font-weight: bold;
    font-size:14px;
    text-align: center;
    margin:5px;
    cursor : move;
}
.employees_subject:hover{
    background: #9f191f;
}
.employee a {
    padding-top: 5px;
}
.drop{
    background: #fff;
    width:100%;
    height:50px;
    text-transform: uppercase;
}
h4{
    border-bottom:1px solid #dcdcdc;
    width: 900px;
    padding-bottom: 5px;
    margin-right:10px;
}

.subject span.themed_text{
     display:none;
    color: #bb0000;
    min-width: 75px;
    margin-right: 0px;
    margin-top: -31px;
    overflow-y: auto;
    max-height: 35px;
}

.subject:hover span.themed_text {
    display: block;
    position: relative;
    background-color: #fff;
    border:4px solid #c3d9ff;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
    z-index: 2000;
    font-size: 12px;
    font-variant: small-caps;
}
.subject:hover span .emp-name {
    cursor: pointer;
    color:#000;
    font-size: 10px;
    font-variant: small-caps;
}

#loadingmsg{
    font-weight:bold;
    text-align: center;
}

.drop{
    position: relative;
}

#timetable_end_date_2i, #timetable_start_date_2i, #timetable_end_date_3i, #timetable_start_date_3i {
    width: 55px;
}
#timetable_end_date_1i, #timetable_start_date_1i{
    width: 65px;

}
.submit_button {
    margin-top:20px;
    margin-right:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#table{
 
border-right: none;
padding-right: 0px;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
#table-days{
    border-left: none;
width: 150px;
 border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
#weekday-header{

    background-color: #fff;
    height: 21px;
    font-size: 12px;

}
#table-viewer {
margin-right: 0px;
overflow-x: auto;
width: 810px;
float: right;
overflow-y:hidden;
}
.employee_list {
float: right;
}
#table-days,#table{
    padding: 10px;
    background-color: #C3D9FF;
    
}
.errorExplanation {
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 0px auto;
    padding: 16px 50px 20px 0;
    width: 400px;
    font-size: 14px;
}
