

#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}



.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}
.col-a{
    float: left;
    margin-left: 5px;
    width: 38%;
}
.col-b{
    float: right;
    margin-right: 5px;
    text-align: right;
    width: 50%;
}

h2.heading{
    text-align: center;
    margin:5px;
}

.report > div {
    float: left;
    width: 100%;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
    word-break: break-all;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;

}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 836px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}

td span{
    color: #990A10;
}

td.col-8 {
    text-align: right;
}

tr.paid *{
    font-weight: bold;
}
.space
{
    margin-left: 60px;
}
.col-pdf1{
    width:44px;
    min-width:44px;
    max-width:44px;
    border-right: 0px;
    word-break: break-word;
}
.col-pdf2{
    width:210px;
    min-width:210px;
    max-width:210px;
    border-right: 0px;
    word-break: break-word;
}
.col-pdf3{
    width:98px;
    min-width:98px;
    max-width:98px;
    border-right: 0px;
    word-break: break-word;
}
.col-pdf4{
    width:54px;
    min-width:54px;
    max-width:54px;
    border-right: 0px;
    word-break: break-word;
}
.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width: 100%;
    float: left;
}
.page-blank{
    width: 100%;
    float: left;
    border-top: 1px solid #ADACAB;
}
.section1{
    page-break-before:always;
}
.row{
    float: left;
    width: 100%;
}
